.clear-btn {
    display: flex;
    flex: 1;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.4em;
    outline: 1px solid #888;
    height: 4em;
    background-color: #c5c3cd;
}