.input {
    display: flex;
    height: 4em;
    flex: 1;
    background-color: #000;
    outline: 1px solid #888;
    color: #fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.4em;
    align-items: center;
  }